.canal-etico-v2-comunicados {
}
.headerModal {
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    background-color: #004d71;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#adeplus .sidebar-expanded {
    z-index:0 !important;
}

#adeplus .sidebar-collapsed {
    z-index:0  !important;
}

.contentModal{
    top: 23% !important;
    left: 0 !important;
    right: 0 !important;
    margin: 5% auto !important;
}

.pb-3{
display:none !important;
}