<body style="margin: 0; padding: 0;">
	<table align="center" border="0" cellpadding="0" cellspacing="0" width="900" style="border-collapse: collapse;">
	    <tr>
	        <td>
	            <table border="0" cellpadding="0" cellspacing="0" width="100%"  style="background: #003C60;">
	                <tr>
	                    <td style="font-size: 0; line-height:0; padding:25px;" width="150">
	                        <img alt="Grupo Preving" style="width:150px;"
	                         src="[$PREVING_LOGO_SRC$]"/></td>
	                    <td style="font-size: 24.0pt;color:#FFFFFF; font-family: Open Sans,Arial,sans-serif;" width="550" align="center">
	                        Mi Registro de Horas
	                    </td>
	                    <td style="padding: 25px;font-size: 10pt;color:#FFFFFF; " width="150" align="center">
	                        <a href="mailto:soporte@miregistrodehoras.com" style="color:#FFFFFF; font-family: Open Sans,Arial,sans-serif;text-decoration: none;" target="_blank">
	                            soporte@miregistrodehoras.com
	                        </a>
	                        <br /><br />
	                        <a href="https://www.preving.com" style="color:#FFFFFF; font-family: Open Sans,Arial,sans-serif;text-decoration: none;" target="_blank">
	                            www.preving.com
	                        </a>
	                    </td>
	                </tr>
	            </table>
	        </td>
	    </tr>
	    <tr>
	        <td style="font-family:Open Sans,Arial,sans-serif;background-position-x: center; background-size: 900px;background-color: #EDEDED;" background="[$PREVING_BACKGROUND_SRC$]" width="800" height="210" align="center">
	        	<p style="font-size:18pt;padding:5px;height: 210px;">Estimat/ada usuari/ària,</p>
			</td>
	    </tr>
	    <tr>
	        <td style="padding: 25px; font-family:Open Sans,Arial,sans-serif;">

				<p>Volem notificar-li que s'ha procedit a donar de baixa el seu usuari a l'aplicació <a style="color:#2ea3f2;" href="https://www.miregistrodehoras.com">miregistrodehoras.com</a> pel que a partir d'ara no podrà accedir a aquesta aplicació.</p>
				<p>Si té dubtes sobre aquest correu electrònic, posi's en contacte amb el responsable de la seva Organització.</p>
				<p>Confiem que la utilització de la seva aplicació contribueixi a donar més seguretat jurídica a la seva Organització en l'àmbit laboral.</p>
				<p>Salutacions.</p>

	        </td>
	    </tr>
		<tr><td style="background: #f28c00;">&nbsp;</td></tr>
	    <tr>
	        <td style="padding: 25px;">
	            <p><span style="font-size:8pt;font-family:Open Sans,Arial,sans-serif;">Aquest correu electrònic ha estat emès per Grup Preving. A partir de la informació facilitada per la seva Empresa per a la implementació del registre en línia de la jornada diària. La informació que conté és CONFIDENCIAL, i els únics destinataris són les persones designades en aquest. Si llegeix aquest missatge i no és un dels destinataris indicats, l'informem que està totalment prohibida qualsevol utilització, divulgació, distribució i/o reproducció d'aquesta comunicació sense autorització expressa en virtut de la legislació vigent. Si ha rebut aquest missatge per error, li agrairem que ens ho notifiqui immediatament mitjançant aquesta mateixa via i procedeixi a la seva eliminació.</span></p>
	        </td>
	    </tr>

	    <tr>
	        <td align="right">
	        	<a href="https://www.facebook.com/preving">
	        	    <img src="[$FACEBOOK_LOGO_SRC$]" />
	        	</a>
	            <a href="https://twitter.com/GrupoPreving">
	                <img src="[$TWITTER_LOGO_SRC$]" />
	                </a>
	            <a href="https://www.youtube.com/channel/UCp2f1b_BlCkyRNsbTvx5pdA">
	                <img src="[$YOUTUBE_LOGO_SRC$]" />
	            </a>
	            <a href="https://www.linkedin.com/company/581384/">
	                <img src="[$LINKEDIN_LOGO_SRC$]" />
	            </a>
	        </td>
	    </tr>
	</table>

</body>
