<table align="center" border="0" cellpadding="0" cellspacing="0" width="900" style="border-collapse: collapse;">
   <tbody>
      <tr>
         <td>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background: #003C60;">
               <tbody>
                  <tr>
                     <td style="font-size: 0; line-height:0; padding:25px;" width="150"><img alt="Grupo Preving" style="width:150px;" src="https://www.miregistrodehoras.com/documents/20127/141613/logo.jpg" /></td>
                     <td style="font-size: 24.0pt;color:#FFFFFF; font-family: Open Sans,Arial,sans-serif;" width="550" align="center">Mi Registro de Horas</td>
                     <td style="padding: 25px;font-size: 10pt;color:#FFFFFF; " width="150" align="center"><a style="color:#FFFFFF; font-family: Open Sans,Arial,sans-serif;text-decoration: none;" target="_blank" href="mailto:soporte@miregistrodehoras.com">soporte@miregistrodehoras.com </a><br /><br /><a style="color:#FFFFFF; font-family: Open Sans,Arial,sans-serif;text-decoration: none;" target="_blank" href="https://www.preving.com">www.preving.com </a></td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
      <tr>
         <td style="font-family:Open Sans,Arial,sans-serif;background-position-x: center; background-size: 900px;background-color: #EDEDED;" background="https://www.miregistrodehoras.com/documents/20127/141613/fondo_titulo_mail.jpg" width="800" height="210" align="center">
            <p style="font-size:18pt;padding:5px;height: 210px;">Estimad@ Sr./ Sra.,</p>
         </td>
      </tr>
      <tr>
         <td style="padding: 25px; font-family:Open Sans,Arial,sans-serif;">
            <p>Queremos comunicarle que se ha cambiado su contraseña de acceso a Registro horario <a style="color:#2ea3f2;" href="https://www.miregistrodehoras.com">https://www.miregistrodehoras.com</a></p>

            <p>Si no ha realizado usted este cambio o si tiene dudas sobre este e-mail consulte con el responsable de su Organización.</p>

            <p>Confiamos que la utilización de su aplicativo contribuya a dar una mayor garantía a su relación laboral.</p>

            <p>Un saludo.</p>
         </td>
      </tr>
      <tr>
         <td style="background: #f28c00;">
         </td>
      </tr>
      <tr>
         <td style="padding: 25px;">
            <p><span style="font-size:8pt;font-family:Open Sans,Arial,sans-serif;">Este e-mail ha sido emitido por Grupo Preving. A partir de la información facilitada por su Empresa para la implementación del registro on-line de la jornada diaria. La información contenida es CONFIDENCIAL, y tiene como únicos destinatarios las personas designadas en él. Si Usted lee este mensaje y no es uno de los destinatarios indicados, le informamos que está totalmente prohibida cualquier utilización, divulgación, distribución y/o reproducción de esta comunicación sin autorización expresa en virtud de la legislación vigente. Si ha recibido este mensaje por error, le rogamos nos lo notifique inmediatamente por esta misma vía y proceda a su eliminación.</span></p>
         </td>
      </tr>
      <tr>
         <td align="right">
            <a href="https://www.facebook.com/preving"><img src="https://www.miregistrodehoras.com/documents/20127/141613/fb.png" /> </a>
            <a href="https://twitter.com/GrupoPreving"> <img src="https://www.miregistrodehoras.com/documents/20127/141613/twitter.png" /> </a>
            <a href="https://www.youtube.com/channel/UCp2f1b_BlCkyRNsbTvx5pdA"> <img src="https://www.miregistrodehoras.com/documents/20127/141613/youtube.png" /> </a>
            <a href="https://www.linkedin.com/company/581384/"> <img src="https://www.miregistrodehoras.com/documents/20127/141613/linkedin.png" /> </a></td>
      </tr>
   </tbody>
</table>