<p>Estimat/ada usuari/ària,</p>

<p>Volem notificar-li que s'ha procedit a donar de baixa el seu usuari a l'aplicació <a href=\"https://www.miregistrodehoras.com\">miregistrodehoras.com</a> pel que a partir d'ara no podrà accedir a aquesta aplicació.</p>

<p>Si té dubtes sobre aquest correu electrònic, posi's en contacte amb el responsable de la seva Organització.</p>

<p>Confiem que la utilització de la seva aplicació contribueixi a donar més seguretat jurídica a la seva Organització en l'àmbit laboral.</p>

<p>Salutacions.</p>

<p><span style="font-size:10px"Aquest correu electrònic ha estat emès per Grup Preving. A partir de la informació facilitada per la seva Empresa per a la implementació del registre en línia de la jornada diària. La informació que conté és CONFIDENCIAL, i els únics destinataris són les persones designades en aquest. Si llegeix aquest missatge i no és un dels destinataris indicats, l'informem que està totalment prohibida qualsevol utilització, divulgació, distribució i/o reproducció d'aquesta comunicació sense autorització expressa en virtut de la legislació vigent. Si ha rebut aquest missatge per error, li agrairem que ens ho notifiqui immediatament mitjançant aquesta mateixa via i procedeixi a la seva eliminació.</p>
