<p>Estimat/ada usuari/ària,</p>

<p>Volem comunicar-li que s'ha sol·licitat un canvi en la seva contrasenya d'accés a l'Aplicació <a href=\"https://www.miregistrodehoras.com\">miregistrodehoras.com</a>.</p>

<p>Les dades d'accés són les següents:</p>

<p>Usuari:: [$USER_EMAIL$]</p>
<p>Contrasenya: [$USER_PASSWORD$]</p>

<p>Pantalla d'inici de sessió: <a href=\"https://www.miregistrodehoras.com\">https://www.miregistrodehoras.com</a></p>

<p>Salutacions.</p>

<p><span style="font-size:10px"Aquest correu electrònic ha estat emès per Grup Preving. A partir de la informació facilitada per la seva Empresa per a la implementació del registre en línia de la jornada diària. La informació que conté és CONFIDENCIAL, i els únics destinataris són les persones designades en aquest. Si llegeix aquest missatge i no és un dels destinataris indicats, l'informem que està totalment prohibida qualsevol utilització, divulgació, distribució i/o reproducció d'aquesta comunicació sense autorització expressa en virtut de la legislació vigent. Si ha rebut aquest missatge per error, li agrairem que ens ho notifiqui immediatament mitjançant aquesta mateixa via i procedeixi a la seva eliminació.</p>
