.legal-plus-web-evaluacion {
}

.clsRequiredSelect{
    display: none;
}
.clsRequiredSelect_visible{
    display: inline;
}

.card-header .accicon {
  float: right;
  font-size: 20px;
  width: 1.2em;
}
.card-header{
  cursor: pointer;
  border-bottom: none;
  color: #004d71
}

.text-ayuda {
    color: #004d71
}
