.preving-user-configuration-web {
}

select#selSearchWorkcenter {
  width: 50%;
}

input.inpSearchAdmin {
  margin-left: 10px;
}
input.inpSearchActive {
  margin-left: 10px;
}


.has-success .control-label {
  color: #676a6c !important;
}

.has-success .form-control {
  border-color: #e5e6e7 !important;
}

.radio-button label{
  margin-left: 15px;
}