.preving-activity-configuration-web {
}

div#search_active {
  float: left;
  margin: 10px;
}

.control-label {
  float: left;
  width: 30%;
}

input#_com_preving_liferay_portlet_activity_configuration_web_ActivityConfigurationPortlet_name {
  width: 400px;
}

.textLabel{
    color: #9B9B9B;
    font-size: 13px;
}
.textMoreBig{
    font-size:14px;
}
.addMargin{
    margin-left:5px;
}