.progress {
    height: 35px;
}

.bg-diseino {
    background-color: #0088c7 !important;
}

.bg-seguimiento {
    background-color: #ffc87d !important;
}

.bg-evaluacion {
    background-color: #ec009d !important;
}