.preving-timesheet-report-web {
}

.sign-detail{
  display: none;
  min-width: 920px;
}
.signs-detail{
  overflow: auto !important;
  background-color: #f3f3f4;
}

.data-table{
  overflow: auto !important;
  background-color: #f3f3f4;
}
.data-table-signs{
  min-width: 920px;
}

.button-holder {
  margin-top: 30px;
}