.canal-etico-admin-denuncia-web {
}

.canal-etico-admin-denuncia-web label.control-label {
  display: none;
}

.background-message{
  background-color: #fff;
}

.cursor_pointer{
  cursor: pointer;
  border: 1px solid #004d71;
  background-color: transparent;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  margin-left: 0.35rem;
}

.cursor_pointer:hover {
  background-color: #c7edfe;
}