<p>Estimad@ Sr./ Sra.,</p>

<p>Se han producido un error en el proceso de importaci&#243;n en la aplicaci&#243;n <a href=\"https://www.miregistrodehoras.com\">Aplicaci&#243;n miregistrodehoras</a>.</p>

<p>No se ha podido crear la empresa. El CIF de la empresa ya existe en el sistema.</p>

<p>Un saludo.</p>

<p><span style="font-size:10px">Este e-mail ha sido emitido por Grupo Preving. A partir de la información facilitada por su Empresa para la implementación del registro on-line de la jornada diaria. La información contenida es CONFIDENCIAL, y tiene como únicos destinatarios las personas designadas en él. Si Usted lee este mensaje y no es uno de los destinatarios indicados, le informamos que está totalmente prohibida cualquier utilización, divulgación, distribución y/o reproducción de esta comunicación sin autorización expresa en virtud de la legislación vigente. Si ha recibido este mensaje por error, le rogamos nos lo notifique inmediatamente por esta misma vía y proceda a su eliminación.</span></p>



