<p>Estimado usuario/a, (cat)</p>

<p>Le comunicamos que durante el d&#237;a de ayer no se procedi&#243; a cerrar de forma correcta alguno de los tramos horarios que indic&#243; en la aplicaci&#243;n de Registro horario <a href=\"https://www.miregistrodehoras.com\">miregistrodehoras.com</a></p>
<p>Para proceder a realizar el registro horario puede acceder con su usuario y contrase&#241;a a trav&#233;s de la pantalla de login, haga click <a href=\"http://miregistrodehoras.com\">aqu&#237;</a> (cat)</p>

<p>Un saludo. (cat)</p>

<p><span style="font-size:10px">Este e-mail ha sido emitido por Grupo Preving. A partir de la información facilitada por su Empresa para la implementación del registro on-line de la jornada diaria. La información contenida es CONFIDENCIAL, y tiene como únicos destinatarios las personas designadas en él. Si Usted lee este mensaje y no es uno de los destinatarios indicados, le informamos que está totalmente prohibida cualquier utilización, divulgación, distribución y/o reproducción de esta comunicación sin autorización expresa en virtud de la legislación vigente. Si ha recibido este mensaje por error, le rogamos nos lo notifique inmediatamente por esta misma vía y proceda a su eliminación.</span> (cat)</p>
