.preving-sign-register-report-web {}

.register-summary, .register-summary.sorting_1{
  background-color: #b9d7ea !important;
}

.register-summary-month{
  background-color: #d6e6f2 !important;
}

.button-holder {
  margin-top: 30px;
}
